{% extends "base.html" %}
{% block content %}

<h2>Add a New Team</h2>

<form action="/teams" method="POST">
    <div>
        <label for="team">Name:</label>
        <input type="text" id="team" name="team">
    </div>
    <div>
        <label for="games_played">Games Played:</label>
        <input type="number" id="games_played" name="games_played">
    </div>
    <div>
        <label for="points">Points:</label>
        <input type="number" id="points" name="points">
    </div>
    <input type="submit">
</form>

{% endblock %}