{% extends "base.html" %}
{% block content %}

<h2>Player Table</h2>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Apperances</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Yellow Cards</th>
        <th>Red Cards</th>
        <th>MoM</th>
      </tr>
    </thead>
    
    <tbody>
        {% for player in players %}
      <tr>
        
        <td>{{player.name}}</td>
        <td>{{ player.appearances}} </td>
        <td>{{ player.goals  }}</td>
        <td>{{ player.assist }}</td>
        <td>{{ player.yellow_cards  }}</td>
        <td>{{ player.red_cards }}</td>
        <td>{{ player.MoM }}</td>
       
        </tr>
        {% endfor %}
    </tbody>
  </table><br><br><br>


</section>

{% endblock %}


