{% extends "base.html" %}
{% block content %}

<h2>League Table</h2>



<table>
    <thead>
      <tr>
        <th>Position</th>
        <th>Team</th>
        <th>Games Played</th>
        <th>Points</th>

      </tr>
    </thead>
    
    <tbody>
        {% for team in league %}
      <tr>
        
        <td>{{team.position}}</td>
        <td>{{ team.team }} </td>
        <td>{{ team.games_played }}</td>
        <td>{{ team.games_played }}</td>
       
        </tr>
        {% endfor %}
    </tbody>
  </table>




{% endblock %}


