{% extends "base.html" %}
{% block content %}

<h2>Games</h2>



<table>
    <thead>
      <tr>
        
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Home Team Goals</th>
        <th>Away Team Goals</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>

      </tr>
    </thead>
    
    <tbody>
        {% for game in games %}
      <tr>

        <td>{{ game.home.team  }} </td>
        <td>{{ game.away.team  }}</td>
        <td>{{ game.home_goals }}</td>
        <td>{{ game.away_goals }}</td>
        <td>{{ game.date }}</td>
        <td>
          
          <a href="/games/{{ game.id }}/edit">Edit</a>
        </td>
          <td>

            <form action="/games/{{ game.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form></td>
       
        </tr>
        {% endfor %}
    </tbody>
  </table><br><br><br>


{% endblock %}