{% extends "base.html" %}
{% block content %}

<h2>Games</h2>

{% for game in games %}

<h3> {{game.home.team}} vs {{game.away.team}}</h3>

<section>
    <p>{{ game.home.team }} vs {{ game.away.team }} {{ game.home_goals }} - {{game.away_goals}} {{ game.date }}</p>
    <p>{% if game.home_goals > game.away_goals%}
        {{game.home.team}} beat {{game.away.team}} by {{game.home_goals}} goals to {{game.away_goals}} goals
        {% endif %}
    </p>

    <a href="/games/{{ game.id }}/edit"> Edit </a>

    <form action="/games/{{ game.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>

    
</section>

{% endfor %}
{% endblock %}